:root{
    --main-orange: #FF6519;
    --main-dark: #12121E;
}

/* Header */

/* Some code taken from https://www.youtube.com/watch?v=cQ6YQ8K5MRw for responsive header*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--main-dark);
}

.header{
    height: 100px;
    background: var(--main-dark);
    padding: 0;
    color: var(--main-orange);
}

.logo{
    height:100px;
    float: left;
    text-transform: uppercase;
}

.menu{
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    width: 100%;

}

.nav-link{
    line-height: 100px;
    padding: 41px 20px;
    color: var(--main-orange);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-orange)
}

.nav-link:hover{
    background-color: var(--main-orange);
    color: var(--main-orange);
}

.menu a:hover{
    color: var(--main-dark);
    background-color: var(--main-orange)
}

.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}


.hide-menu-btn:hover{
    color: var(--main-orange);
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.menu-hr{
    display: none;
    border: none;
    height: 1px;
    background-color: var(--main-orange);
}

.div-show-menu-btn{
    background-color: var(--main-dark);
    color: var(--main-orange);
    border: solid var(--main-orange) 4px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: auto;
    margin-top: 20px;
    /* z-index: 15; */
}


#header-bg-dark, #header-bg-orange{
    position: absolute;
    width: 100%;
    height: 150px;
    display: none;
}


#header-bg-dark{
    background-color: var(--main-dark);
    transform: skewY(-8deg);
    top: -90px;
    z-index: -4;
}

#header-bg-orange{
    background-color: var(--main-orange);
    transform: skewY(-4deg);
    top: -70px;
    z-index: -5;
}


@media screen and (max-width: 800px){

    .header{
        background-color: rgba(0, 0, 0, 0);
    }

    #header-bg-dark, #header-bg-orange{
        display: block;
    }

    .show-menu-btn, .hide-menu-btn{
        display: block;
    }

    .div-show-menu-btn{
    z-index: 150;
    }


    .menu{
        position: fixed;
        width: 65%;
        height: 100vh;
        background: var(--main-dark);
        right: -100%;
        top: 0; 
        text-align: center;
        padding: 100px 0;
        line-height: normal;
        transition: 0.5s;
        /* z-index: 20; */
    }

    .menu a{
        display: block;
        padding: 20px;
        line-height: 20px;
        color: var(--main-orange);
        background-color: var(var(--main-dark));
    }

    .menu a:hover{
        color: var(--main-dark);
        background-color: var(--main-orange);
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }


    .menu-hr{
        display: block;
    }

    #chk:checked ~ .menu{
        right:0;
    }

}

/* End Of Header */