:root{
    --main-orange: #FF6519;
    --main-dark: #12121E;
}

body{
    background-color: var(--main-dark)
}


/* Form */

#registration-form, #login-form, #setting-form {
    width: 70%;
    max-width: 550px;
    margin: auto;
}

input{
    display: block;
    border: none;
}

.info{
    background: transparent;
    border-bottom: 2px solid var(--main-orange);
    margin: 50px auto;
    color: var(--main-orange);
    font-size: 30px;
    padding: 0;
    width: 100%;
}

.info:focus{
    outline: 0;
    border-bottom: 4px solid var(--main-orange);
}

.btn{
    height: 80px;
    background-color: var(--main-orange);
    color: var(--main-dark);
    margin: auto;
    font-size: 50px;
    width: 70%;
    max-width: 550px;
}

#register-btn, #login-btn{
    margin-top: 50px;
}

.btn:hover{
    cursor: pointer;
}


input[type='checkbox'] {
   display: inline;
   text-align: center;
}

/* radio btn select gender */
#gender{
    border: none;
}

#gender-div{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
}


.radio{
    display: none;
}


.lbl{
    padding: 30px 0;
    /* display: inline; */
    text-align: center;
    margin: auto;
    color: var(--main-orange);
}

.lbl:hover{
    cursor: pointer;
}

.img-gender{
    height: 100px;
    width: auto;
}

/* Change Color on Click */
.selected{
    display: none;
}

#male-radio:checked ~ #selected-male-lbl{
    display: inline;
}
#male-radio:checked ~ #male-lbl{
    display: none;
}



#female-radio:checked ~ #selected-female-lbl{
    display: inline;
}
#female-radio:checked ~ #female-lbl{
    display: none;
}


#other-radio:checked ~ #selected-other-lbl{
    display: inline;
}
#other-radio:checked ~ #other-lbl{
    display: none;
}

/* End Change Color On Click */

/* end select gender */

@media screen and (max-width: 800px){
    .btn{
        width: 100%;
        max-width: 100%;
        background-color: var(--main-orange);
        color: var(--main-dark);
    }
}



/* End Form */