:root{
    --main-orange: #FF6519;
    --main-dark: #12121E;
}

.div-page-title{
    color: var(--main-orange);
    /* color: white; */
    position: absolute;
    background-color: var(--main-dark);
    padding: 10px;
    border: solid var(--main-orange) 1px;
    width: 60%;
    z-index: 500;
    word-wrap: normal;
    /* border-radius: 20px; */
}

.result-header span{
    font-weight: 500;
}

.div-trophy{
    position: relative;
    /* display: inline-block; */
    /* background-color: green; */
}

.trophy{
    width: 100%;
    max-width: 280px;
}

.link-title{
    position: relative;
    background: white;
    padding: 20px;
    border: solid var(--main-orange) 2px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    bottom: 20px;
    z-index: -10;
}

/* Most Popular Start Page Custom */

#mp-start-page, #longest-runtime{
    margin: 0 auto;
    right: 65px;
    width: 128px;
    margin-top: -240px;
    position: absolute;
    text-align: center;
    font-size: 20px;
}

#div-mp-start-page{
    text-align: right;
}

#trophy-start-page{
    /* float: left; */
}

#record-mp-start-page{
    margin-right: 50px;
}

/* End Most Popular Start Page Custom */

/* Most Popular End Page Custom */
#record-mp-end-page{
    margin-left: 50px;
}

#mp-end-page, #shortest-runtime{
    margin: -240px auto 0 auto;
    left: 65px;
    width: 128px;
    text-align: center;
    font-size: 20px;
}
/* End Most Popular END Page Custom */

/* Longest Path Custom */
#div-longest-path, #div-most-recent{
    text-align: center;
}

#longest-path{
    margin-top: -240px;
    width: 138px;
    text-align: center;
    font-size: 20px;
    margin-left: 100px;
    position: absolute;
    /* left: 50%; */
    left: calc(50% - 180px);
}

#div-result-longest-path, #div-result-most-recent, #div-result-longest-runtime, #div-result-shortest-runtime{
    width: 100%;
    margin: auto;
}

/* #div-result-most-recent{
    width: 100%;
    margin: auto;
} */
/* End Longest Path Custom */

/* Shortest runtime Custom */
#div-result-shortest-runtime{
    /* margin-left: ; */
    /* float: right; */
}

#div-shortest-runtime{
    text-align: left;
}
/* End Shortest Runtime */

/* Longest runtime Custom */
#div-longest-runtime{
    text-align: right;
}
/* End Longest Runtime */

.div-result-runtime{
    position: relative;
    bottom: 20px;
    z-index: -5;
}


#most-recent{
    position: static;
    width: 100%;
    border-radius: 20px;
}

#div-most-recent{
    /* background-color: red; */
}

/* #div-result-most-recent{
    width:100%;
    /* max-width: 100%; */
    /* background-color: pink; */
} */

#title-most-recent{
    margin: 0;
}

#most-recent{
    color: var(--main-orange);
}

/* Start of Grid */

/* Define Names */
#div-mp-start-page{grid-area: start-page;}
#div-mp-end-page{grid-area: end-page}
#div-longest-path{grid-area: longest-path}
#div-shortest-runtime{grid-area: shortest-runtime}
#div-longest-runtime{grid-area: longest-runtime}
#div-most-recent{grid-area: most-recent}

.grid-container{
    margin: 30px 50px;
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "start-page start-page . end-page end-page"
        ". longest-path longest-path longest-path ."
        "shortest-runtime shortest-runtime . longest-runtime longest-runtime"
        ". most-recent most-recent most-recent .";
}

@media screen and (max-width: 1100px){
    .grid-container{
        grid-template-areas: 
        "start-page start-page . end-page end-page"
        ". longest-path longest-path longest-path ."
        ". shortest-runtime shortest-runtime shortest-runtime ."
        ". longest-runtime longest-runtime longest-runtime ."
            ". most-recent most-recent most-recent .";
    }
}

@media screen and (max-width: 800px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-row-gap: 100px;

        grid-template-areas: 
            "start-page"
            "end-page"
            "longest-path"
            "shortest-runtime"
            "longest-runtime"
            "most-recent";
    }
}
