:root{
  --main-orange: #FF6519;
  --main-dark: #12121E;
  --my-grey: #AFAFAF;
}

#title{
  color: var(--main-orange);
  font-size: 64px;
  margin-top: 70px;
}

#sub-title{
  color: #ffffff;
  font-size: 48px;
  margin-top: 100px;
}

a{
  color: var(--my-grey);
  text-decoration: none;
  text-decoration: underline;
  font-size: 14px;
}

#main {
  height: 1000px;
  /* text-align: center; */
}

#header-div{
  text-align: center;
  margin: 0 30px;
}

.info{
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--main-orange);
  margin: 50px auto;
  color: var(--main-orange);
  font-size: 30px;
  padding: 0;
  width: 35%;
  display: inline;
}

.info::placeholder{
  color: #ffffff;
}

.info:focus{
  outline: 0;
  border-bottom: 4px solid var(--main-orange);
}

.header-connection{
  color: var(--main-orange);
  display: inline;
  font-size: 150px;
  margin: 0 80px;
}

#header-to{
  display: none;
}


#button-instructions{
  color: var(--my-grey);
}

#submit-btn{
  display: none;
}

.start-button {
  position: absolute;
  width: 100px;
  height: 100px;
}

#icon{
  width: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

.div-result{
  margin: 300px auto;
}

@media screen and (max-width: 1200px){
  #wikicheat-form{
    margin-top: 70px;
  }
  #header-arrow{
    font-size: 80px;
  }
}

@media screen and (max-width: 910px){
  .info {
    display: block;
    width: 80%;
  }
  
  #header-arrow{
    display: none;
  }
  #header-to{
    display: block;
    font-size: 80px;
  }
  
}

#wikicheat-div-result{
  display: none;
}

#loading{
  display: none;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}