<!DOCTYPE html>
<html>
<head>
    {% if dataLayer %}
        <script>
           window.dataLayer = window.dataLayer || [];
           window.dataLayer.push({{ dataLayer|tojson }})
        </script>
    {% endif %}


    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PZQ8GXP');</script>
        <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZQ8GXP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav>
        <ul>
            {% if session['user_id'] %}
                <li><a href="/wikicheat" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Wikicheat (Loged In)'});">Wiki Cheat</a>
                <li><a href="/statistics" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Statistics (Loged In)'});">Statistics</a>
                <li><a href="/about" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV About (Loged In)'});">About</a>
                <li><a href="/settings" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Settings (Loged In)'});">Settings</a>
                <li><a href="/logout" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Login (Loged IN)'});">Log Out</a>
            {% else %}
                <li><a href="/about" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV About (Loged Out)'});">About</a>
                <li><a href="/login" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Login (Loged Out)'});">Log In</a>
                <li><a href="/register" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Register (Loged Out)'});"> Register</a>
            {% endif %}
        </ul>
    </nav>

    
    {% if errormessage %}
    <h6>{{ errormessage }}</h6>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>