<!DOCTYPE html>
<html>
<head>

<!-- Push Successful Login/ Registration Custom Event to GA -->
    {% if dataLayer %}
        <script>
           window.dataLayer = window.dataLayer || [];
           window.dataLayer.push({{ dataLayer|tojson }})
        </script>
    {% endif %}

    <!-- Push User Status -->
    {% if session['user_id'] %}
        <script>
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({'user_id': {{session['user_id']}}})
         </script>
    {% endif %}


    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PZQ8GXP');</script>
        <!-- End Google Tag Manager -->




    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    
    
    <!-- Get Code from Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    {% block header %}{% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='javascript/base.js') }}"></script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PZQ8GXP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
        <!-- START OF NAVBAR -->

        <div class="header">
            <!-- <h2 class="logo">wikicheat</h2> -->
            <div id="header-bg-dark"> </div>
            <div id="header-bg-orange"> </div>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <div class="div-show-menu-btn">
                    Menu
                </div> 
            </label>
                <!-- <i class="fas fa-ellipsis-h">Show Menu</i> -->
            

            <ul class="menu">
                    {% if session['user_id'] %}
                        <hr class="menu-hr">
                            <a class="nav-link" href="/wikicheat" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV (Loged In)'});">Wiki Cheat</a>
                        <hr class="menu-hr">
                            <a class="nav-link" href="/statistics" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Statistics (Loged In)'});">Statistics</a>
                        <hr class="menu-hr">
                            <a class="nav-link" href="/about" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV About (Loged In)'});">About</a>
                        <hr class="menu-hr">
                            <a class="nav-link" href="/settings" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Settings (Loged In)'});">Settings</a>
                        <hr class="menu-hr">
                        <hr class="menu-hr">
                            <a class="nav-link" href="/logout" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Login (Loged In)'});">Log Out</a>
                        <hr class="menu-hr">
                    {% else %}
                        <hr class="menu-hr">
                            <a class="nav-link" href="/about" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV About (Loged Out)'});">About</a>
                        <hr class="menu-hr">
                            <a class="nav-link" href="/login" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Login (Loged Out)'});">Log In</a>
                        <hr class="menu-hr">
                            <a class="nav-link" href="/register" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'NAV Register (Loged Out)'});"> Register</a>
                        <hr class="menu-hr">
                    {% endif %}

                    <label for="chk" class="hide-menu-btn">
                            <i class="fas fa-times"></i>
                        </label>
                </ul>
        </div>



        <!-- END OF NAVBAR -->

    

    
    {% if errormessage %}
    <h6><font color="grey">{{ errormessage }}</font></h6>
    {% endif %}

    {% block content %}{% endblock %}







{% if False %}
    <!-- Track Button Clicks Per Session Function executes before page exit-->
    <script>
            window.addEventListener('beforeunload', function() {
              window.dataLayer.push({{ session['user_engagement']|tojson }});
            });
            console.log({{ session['user_engagement']|tojson }})
          </script>

{% endif %}



</body>
</html>