{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block header%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lrs.css') }}">
{% endblock %}


{% block content %}

<form action="/login" method="post" id="login-form">
    <input name="email" class="info" id="email" placeholder="Email" required>
    <input type="password" name="password" class="info" id="password" placeholder="Password" required>
  </form>
  <h6 id="form-error-msg">
    {% if errormessage %}*{{ errormessage }}{% endif %}
  </h6>
  <input type="submit" value="Log In" id="login-btn" form="login-form" class="btn" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'Login'});" >


  <form action="/register">
  <input type="submit" value="Register" id="register-btn" class="btn" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'Register btn on Login'});">
  </form>

{% endblock %}