{% extends 'base.html' %}
{% block title %}Statistics{% endblock %}

{% block header%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css') }}">
{% endblock %}

{% block content %}

<div class="grid-container">
{% if page_records %}
    <img src="{{ url_for('static', filename='pictures/trophy.png') }}" alt="trophy img" class="trophy">

    <img src="{{ url_for('static', filename='pictures/trophy.png') }}" alt="trophy img" class="trophy">
{% endif %}

{% if users_records %}

{% endif %}

</div>

{% endblock %}