{% extends 'base.html' %}
{% block title %}Statistics{% endblock %}

{% block header%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css') }}">


{% endblock %}

{% block content %}

<div class="grid-container">
{% if page_records %}
<!-- Most Popular START Page -->
    <div class="div-trophy" id="div-mp-start-page">
        <img src="{{ url_for('static', filename='pictures/trophy.png') }}" alt="trophy img" class="trophy" id="trophy-start-page">
        <div class="div-page-title" id="mp-start-page">Most Popular START page</div>
        <div class="link-title" id="record-mp-start-page">{{page_records["start_link_record"]["title"] | replace("_", " ") | capitalize}}</div>
    </div>

<!-- Most Popular END Page -->
    <div class="div-trophy" id="div-mp-end-page">
            <img src="{{ url_for('static', filename='pictures/trophy.png') }}" alt="trophy img" class="trophy" id="trophy-end-page"> 
            <div class="div-page-title" id="mp-end-page">Most Popular END page</div>
            <div class="link-title" id="record-mp-end-page">{{page_records["end_link_record"]["title"] | replace("_", " ") | capitalize}}</div>
    </div>
{% endif %}

{% if users_records %}

<!-- Longest Path -->
<div class="div-trophy" id="div-longest-path">
        <img src="{{ url_for('static', filename='pictures/trophy.png') }}" alt="trophy img" class="trophy" id="trophy-longest-path">

        <div class="div-page-title" id="longest-path">Longest Path</div>
        <div class="div-result" id="div-result-longest-path">
                <div class="result-header">
                  <span class="result-start_link  block left">{{users_records["longest_path"]["start_page"] | replace("_", " ") | capitalize}}</span>
                  <span class="result-arrow  block rotate">&#x2192;</span>
                  <span class="result-end_link  block right">{{users_records["longest_path"]["end_page"] | replace("_", " ") | capitalize}}</span>
                </div>
                <div class="div-result-data">
                  <div class="dd-result-data">
                    <span class="tag">Distance:</span> <span class="result-data">{{users_records["longest_path"]["distance"]}} clicks</span>
                  </div>
                  <div class="dd-result-data">
                    <span class="tag">Run-time:</span> <span class="result-data">{{users_records["longest_path"]["runtime"]}} s </span>
                  </div>
                </div>
                <div id="div-statistics-tag">
                  <a id="statistics-tag" href="/statistics">by {{users_records["longest_path"]["username"]}}</a>
                </div>
              </div>
    </div>



<!-- Longest Runtime -->
<div class="div-trophy" id="div-longest-runtime">
        <img src="{{ url_for('static', filename='pictures/trophy.png') }}" alt="trophy img" class="trophy">

        <div class="div-page-title" id="longest-runtime">Longest Runtime</div>
        <div class="div-result div-result-runtime" id="div-result-longest-runtime">
                <div class="result-header">
                  <span class="result-start_link block left">{{users_records["longest_runtime"]["start_page"] | replace("_", " ") | capitalize}}</span>
                  <span class="result-arrow block rotate">&#x2192;</span>
                  <span class="result-end_link block right">{{users_records["longest_runtime"]["end_page"] | replace("_", " ") | capitalize}}</span>
                </div>
                <div class="div-result-data">
                  <div class="dd-result-data">
                    <span class="tag">Distance:</span> <span class="result-data">{{users_records["longest_runtime"]["distance"]}} clicks</span>
                  </div>
                  <div class="dd-result-data">
                    <span class="tag">Run-time:</span> <span class="result-data">{{users_records["longest_runtime"]["runtime"]}} s </span>
                  </div>
                </div>
                <div id="div-statistics-tag">
                  <a id="statistics-tag" href="/statistics">by {{users_records["longest_runtime"]["username"]}}</a>
                </div>
              </div>
    </div>


<!-- Shortest Runtime -->
<div class="div-trophy" id="div-shortest-runtime">
        <img src="{{ url_for('static', filename='pictures/trophy.png') }}" alt="trophy img" class="trophy">

        <div class="div-page-title" id="shortest-runtime">Shortest Runtime</div>
        <div class="div-result div-result-runtime" id="div-result-shortest-runtime">
                <div class="result-header">
                  <span class="result-start_link block left">{{users_records["shortest_runtime"]["start_page"] | replace("_", " ") | capitalize}}</span>
                  <span class="result-arrow block rotate">&#x2192;</span>
                  <span class="result-end_link block right">{{users_records["shortest_runtime"]["end_page"] | replace("_", " ") | capitalize}}</span>
                </div>
                <div class="div-result-data">
                  <div class="dd-result-data">
                    <span class="tag">Distance:</span> <span class="result-data">{{users_records["shortest_runtime"]["distance"]}} clicks</span>
                  </div>
                  <div class="dd-result-data">
                    <span class="tag">Run-time:</span> <span class="result-data">{{users_records["shortest_runtime"]["runtime"]}} s </span>
                  </div>
                </div>
                <div id="div-statistics-tag">
                  <a id="statistics-tag" href="/statistics">by {{users_records["shortest_runtime"]["username"]}}</a>
                </div>
              </div>
    </div>

    <!-- Most Recent -->
    <div class="div-trophy" id="div-most-recent">
        <div class="div-result" id="div-result-most-recent">

            <div class="result-header">
                    <div class="div-result-data" id="title-most-recent">  
                      <span id="most-recent">Most Recent</span>
                    </div>
                      <span class="result-start_link" id="id-mr-start_link">{{users_records["most_recent"]["start_page"] | replace("_", " ") | capitalize}}</span>
                      <span class="result-arrow" id="id-mr-arrow">&#x2192;</span>
                      <span class="result-end_link" id="id-mr-end_link">{{users_records["most_recent"]["end_page"] | replace("_", " ") | capitalize}}</span>
                    </div>
                    <div class="div-result-data">
                      <div class="dd-result-data">
                        <span class="tag">Distance:</span> <span class="result-data">{{users_records["most_recent"]["distance"]}} clicks</span>
                      </div>
                      <div class="dd-result-data">
                        <span class="tag">Run-time:</span> <span class="result-data">{{users_records["most_recent"]["runtime"]}} s </span>
                      </div>
                    </div>
                    <div id="div-statistics-tag">
                      <a id="statistics-tag" href="/statistics">by {{users_records["most_recent"]["username"]}}</a>
                    </div>
                  </div>
        </div>

{% endif %}

</div>
<script src="{{ url_for('static', filename='javascript/statistics.js') }}"></script>

{% endblock %}