{% extends 'base.html' %}
{% block title %}WikiCheat{% endblock %}

{% block header%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wikicheat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">


{% endblock %}


{% block content %}
<div id="main"  ondrop="drop(event)" ondragover="allowDrop(event)">
  <div id="header-div">
    <h1 id="title">Wiki Game:</h1>
    <a href="/about">How to Play?</a>
    <h2 id="sub-title">Find the shortest Path from</h2>
    <!-- <form action="/wikicheat" method="POST" id="wikicheat-form"> -->
    <form id="wikicheat-form" onsubmit="return false">
    
        <input type="text" name="start_link" id="start_link" class="info" placeholder="Wikipedia Page Title" required>
        <span id="header-arrow" class="header-connection">&#x2192;</span>
        <span id="header-to" class="header-connection">to</span>
        <input type="text" name="end_link" id="end_link" class="info" placeholder="Wikipedia Page Title" required>
        <input type="submit" id="submit-btn" Value="Start Calculate" onclick="dataLayer.push({'event': 'buttonClick', 'button': 'WikiCheat (Logged In)'});">
    </form>
    <h6 id="button-instructions">*to start drag the wiki icon to any spot on the page</h6>
</div>
<div id="icon">
  <img id="wiki-icon" src="{{ url_for('static', filename='pictures/wiki.png') }}" alt="wiki button" class="start-button" draggable="true" ondragstart="drag(event)" width="150" >
  <img id="loading" src="{{ url_for('static', filename='pictures/loading.png') }}" alt="wiki button" class="start-button" draggable="true" ondragstart="drag(event)" width="150" >
</div>


  <div class="div-result" id="wikicheat-div-result">
    <div class="result-header">
      <span class="result-start_link" id="id-result-start_link">Start_link</span>
      <span class="result-arrow" id="id-result-arrow">&#x2192;</span>
      <span class="result-end_link" id="id-result-end_link">End_link</span>
    </div>
    <div class="div-result-data">
      <div class="dd-result-data">
        <span class="tag">Distance:</span> <span class="result-data" id="span-distance">Distance clicks</span>
      </div>
      <div class="dd-result-data">
        <span class="tag">Run-time:</span> <span class="result-data" id="span-runtime">seconds s </span>
      </div>
    </div>
    <div id="div-statistics-tag">
      <a id="statistics-tag" href="/statistics">View all Statistics</a>
    </div>
  </div>  









</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/pep/0.4.3/pep.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="{{ url_for('static', filename='javascript/wikicheat.js') }}"></script>
{% endblock %}
